body {
    background-image: url("https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
}

h1 {
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
    width: 100%;
    background-color: #2C272E;
    color: #E6CCA9;
    border-top: solid;
    border-bottom: solid;
    border-color: #E6CCA9;
    opacity: 75%;
}

#submit {
    width: 50px;
    height: 50px;
    border: solid;
    font-size: 35px;
    color: #E6CCA9;
    border-width: 3px;
    border-color: #A0937D;
    border-radius: 100%;
    background-color: #2C272E;
}

#submit:hover {
    color: #2C272E;
    background-color: #E6CCA9;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: #2C272E;
    margin: 20px;
    width: 400px;
    font-size: 30px;
    border-bottom-color: #2C272E;
}

::placeholder{
    color: #2C272E;
}